<!DOCTYPE html>
<html>

<head>
    <title>Car Rental</title>
    <!-- Bootstrap CSS link -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- Custom CSS link -->
    <!-- <link rel="stylesheet" type="text/css" href="./public/styles.css"> -->
    <style>
        /* Add your own styles here */
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-image: url('./image2.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }

        .navbar {
            margin-bottom: 20px;
            align-items: left;
        }
    
        h1 {
          color: orange;
          text-align: center;
        }
        ul {
            list-style-type: none;
        }
        li a {
            display: block;
            float: left;
            padding-left: 16px;
        }
    
        form {
          width: 100%;
          max-width: 400px;
          background-color: rgba(255, 255, 255, 0.8);
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    
        label {
          display: block;
          margin-bottom: 8px;
        }
    
        input,
        select {
          width: 100%;
          padding: 8px;
          margin-bottom: 12px;
          box-sizing: border-box;
        }
    
        button {
          background-color: #4CAF50;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      </style>
    <!-- Places API -->
    <script>

        let autocomplete;
        function initSearch() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('location'),
                {
                    types: ['address'],
                    componentRestrictions: {'country': ['US']},
                    fields: ['address_components', 'geometry']
                }
            );
        }

        async function submitForm() {
            if (!autocomplete) {
                console.log("Some error occurred");
            }
            let placeSelected = autocomplete.getPlace();
            if (!placeSelected.geometry) {
                document.getElementById('location').placeholder = "Please select a location";
                alert("Please select a location before searching." );
            } else {
                let make = document.getElementById('carMake').value;
                let model = document.getElementById('carModel').value;
                let type = document.getElementById('carType').value;
                let price = document.getElementById('carPrice').value;
                let lat = placeSelected.geometry.location.lat();
                let lng = placeSelected.geometry.location.lng();
                let fuel_type = document.getElementById('fuelType').value;
                let year = document.getElementById('year').value;
                let address = document.getElementById('location').value;
                let state;
                let city;

                for (const component of placeSelected.address_components) {
                    const componentType = component.types[0];
                    switch (componentType) {
                        case "locality":
                            city = component.long_name;
                            break;
                        case "administrative_area_level_1":
                            state = component.short_name;
                            break;
                    }
                }

                let data = {
                    "make": make,
                    "model": model,
                    "type": type,
                    "price": price,
                    "latitude": lat,
                    "longitude": lng,
                    "state": state,
                    "city": city,
                    "fuel_type": fuel_type,
                    "year": year,
                    "address": address
                };

                const response = await fetch('/vehicle/new', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                if (response.status == 201) {
                    alert("Insert successful");
                    document.getElementById('carRentalForm').reset();
                } else {
                    alert("Error inserting Vehicle");
                }
            }
        }

        function redirectToAnotherUrl(url, jsonData) {
        var form = document.createElement('form');
        form.method = 'post';
        form.action = url;

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'jsonData';
        input.value = JSON.stringify(jsonData);
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
    </script>
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RentYourCar(REYOCA)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/message">Customer Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dev_page_route/profilepage">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </header>
    <main role="main">
        <!-- <section class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Rent the Perfect Car</h1>
                <p class="lead">Find the best cars for your next adventure.</p>
                <a href="#" class="btn btn-primary">Get Started</a>
            </div>
        </section> -->

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card mb-4 box-shadow">
                        <form id="carRentalForm" style="padding-top: 8px">
                            <label for="carMake">Car Make:</label>
                            <input type="text" id="carMake" name="carMake" required>

                            <br>

                            <label for="carModel">Car Model:</label>
                            <input type="text" id="carModel" name="carModel" required>

                            <br>

                            <label for="carType">Car Type:</label>
                            <select id="carType" name="carType" required>
                                <option value="" disabled selected>Select Car Type</option>
                                <option value="suv">SUV</option>
                                <option value="car">Car</option>
                                <option value="car">Truck</option>
                                <option value="van">Van</option>
                                <option value="minivan">Minivan</option>
                            </select>

                            <br>

                            <label for="carPrice">Car Price:</label>
                            <input type="number" id="carPrice" name="carPrice" min="1" required>

                            <br>

                            <label for="location">Car Location:</label>
                            <input type="text" id="location" name="location" required>

                            <br>

                            <label for="fuelType">Fuel Type:</label>
                            <select id="fuelType" name="fuelType" required>
                                <option value="" disabled selected>Select Fuel Type</option>
                                <option value="GASOLINE">GASOLINE</option>
                                <option value="HYBRID">HYBRID</option>
                                <option value="ELECTRIC">ELECTRIC</option>
                                <option value="DIESEL">DIESEL</option>
                            </select>

                            <br>

                            <label for="year">Year:</label>
                            <input id="year" type="number" min="1900" max="2024" step="1" />
                            
                            <br>

                            <button type="button" onClick="submitForm()">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlxjdoI_JGnoGMDcZzuz-mBKVNnZqODmA&libraries=places&callback=initSearch">
    </script>
</body>

</html>
