<html>
    <head>
        <title>ReYoCa:your car renting solution</title>
        <style>
            body{
  font-family: 'Rethink Sans', sans-serif;
  background: #F7F9F9;
}
a{
  text-decoration: none;
  transition:0.2s linear;
}
a:hover{
  text-decoration:underline;
}
.app--container{
  background: white;
  width: 500px;
  margin: 0 auto;
  box-shadow:
  0px 1.8px 3.6px rgba(0, 0, 0, 0.017),
  0px 5px 10px rgba(0, 0, 0, 0.025),
  0px 12.1px 24.1px rgba(0, 0, 0, 0.033),
  0px 40px 80px rgba(0, 0, 0, 0.05)
;
  border-radius:15px;
  margin-top:50px;
  padding: 30px;
  box-sizing: border-box;
}
h2{
  text-align:center;
  color: #bc4749;
}
h2 span{
  color: #808B96
}
form{
  margin-top:60px;
}
label{
  color: #808B96;
  font-weight:500;
  font-size:14px;
  margin-bottom:5px;
}
input{
  width:100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding:10px;
  border: 1px solid #D5D8DC;
  outline:none;
  margin-bottom: 20px;
}
button{
  background: #bc4749;
  color:white;
  padding:10px;
  font-size:14px;
  font-weight:500;
  margin-bottom:0;
  border: none;
  margin-top:20px;
}
.forgot-password--link{
  display:flex;
  justify-content:end;
}
.forgot-password--link a{
  font-size:13px;
  margin-top:10px;
  color: #566573;
}
.divider{
  text-align:center;
  position:relative;
  margin:25px 0;
}
.divider::before{
  content:'';
  position:absolute;
  top:50%;
  left:20%;
  background: #566573;
  height:1px;
  width:calc(30% - 30px);
  transform: translateY(-50%);
}
.divider::after{
  content:'';
  position:absolute;
  top:50%;
  right:20%;
  background: #566573;
  height:1px;
  width:calc(30% - 30px);
  transform: translateY(-50%);
}
.signin-google--btn{
  margin:0 auto;
  display:flex;
  justify-content:center;
}
.signin-google--btn a{
  display:flex;
  align-items:center;
  background: white;
  border: 1px solid #17202A;
  color: #17202A;
  padding:8px;
  border-radius:5px;
  margin-bottom:50px;
}
.create-account--container a, .become-renter--container a{
  color: #bc4749
}
.become-renter--container{
  margin-top:10px;
}
        </style>
    </head>
    <body>
        <div class="app--container">
            <h2>ReYoCa: <span>your car renting solution</span></h2>
            <form>
              <label for="email">Email</label><br>
              <input type="email" name="email" id="em" required><br>
              <label for="password">Password</label><br>
              <input type="password" name="password" id="pass" required><br>
              <button type="button" onclick="submitLogin()">Login</button>
            </form>
            <div class="forgot-password--link">
              <a href="/dev_page_route/passreset">Forgot Password?</a>
            </div>
            <div class="divider">OR</div>
            <div class="signin-google--btn">
            
            <a href="http://localhost:8080/auth/google" style="text-decoration:none"><img src="https://reyocaprofilepic.s3.amazonaws.com/google-icon.png" alt="G" width="20" height="20">&nbsp;Sign in with Google</a>
            </div>
            <div class='create-account--container'>
              Not Registered Yet? <a href="/dev_page_route/registerrentee">Create an Account</a></div>
            <div class="become-renter--container">
              <a href="/dev_page_route/registerrenter">Become a Renter</a>&nbsp;and generate passive income off of your standing car
            </div>
          </div>

          <script>
            function submitLogin(){
              var em = document.getElementById('em').value;
              var pass = document.getElementById('pass').value;

              var data = {
                  email: em,
                  password: pass
              };

              fetch('http://localhost:3000/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    if (data.message==="Login Success admin"){
                      window.location.href = "http://localhost:3000/dev_page_route/admin_page_middleware"

                    }else{
                    window.location.href = "http://localhost:3000"
                    }
                } else {
                    alert("Invalid Credentials");
                    // password.setCustomValidity(data.found_bad_words.toString());
                    // location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });



          }
          </script>

        
    </body>
</html>