<html>
    <head>
        <title>ReYoCa:your car renting solution</title>
    </head>
    <body>
        
        <form action="http://localhost:3000/login" method="POST">
            <label for="email">Email</label><br>
            <input type="email" name="email" required><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <a href="/login/forgot-password" style="color:red">Forgot Password</a>
        <br>
        <br>
        <br>
    <a href="http://localhost:8080/auth/google" style="text-decoration:none"><button type="button" style="display:flex; align-items:center"><img src="https://reyocaprofilepic.s3.amazonaws.com/google-icon.png" alt="G" width="20" height="20">&nbsp;Sign in with Google</button></a>

    <br>
    
    <br>
    <br>
    Not Registered Yet? <a href="/dev_page_route/registerrentee">Create an Account</a>
    <br>
    <br>
    Want to become a Renter and generate passive income off of your standing car? <a href="/dev_page_route/registerrenter">Become a Renter</a>
    </body>
</html>