<html>
    <head>
        <title>ReYoCa:your car renting solution</title>
    </head>
    <body>
        
        <form action="http://localhost:3000/login/forgot-password" method="POST">
            <label for="email">Email</label><br>
            <input type="email" name="email" required><br>
            <input type="submit" value="Confirm">
        </form>
        <br>
    </body>
</html>