<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <style>
        body{
font-family: 'Rethink Sans', sans-serif;
background: #F7F9F9;
}
h2{
text-align:center;
color: #bc4749;
margin-bottom:60px;
}
h2 span{
color: #808B96
}
form{
background: white;
width: 500px;
margin: 0 auto;
box-shadow:
0px 1.8px 3.6px rgba(0, 0, 0, 0.017),
0px 5px 10px rgba(0, 0, 0, 0.025),
0px 12.1px 24.1px rgba(0, 0, 0, 0.033),
0px 40px 80px rgba(0, 0, 0, 0.05)
;
border-radius:15px;
margin-top:50px;
padding: 30px;
box-sizing: border-box;
}
label{
color: #808B96;
font-weight:500;
font-size:14px;
margin-bottom:5px;
}
input{
width:100%;
box-sizing: border-box;
border-radius: 5px;
padding:10px;
border: 1px solid #D5D8DC;
outline:none;
margin-bottom: 20px;
}
button{
background: #bc4749;
color:white;
padding:10px;
font-size:14px;
font-weight:500;
margin-bottom:0;
border: none;
margin-top:20px;
}
    </style>
</head>
<body>
    <div class="update-password-container">
        <h2>Update Password</h2>
        <form action="/profile/updatepassword" method="post">      
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" name="curr_pass" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="new_pass" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit">Update Password</button>
        </form>
    </div>
    <script>
        var password = document.getElementById("newPassword"), confirm_password = document.getElementById("confirmPassword");

        function isPasswordValid(pass) {
            const minLength = 8;  // Minimum length
            const containsUppercase = /[A-Z]/.test(pass); // At least one uppercase letter
            const containsLowercase = /[a-z]/.test(pass); // At least one lowercase letter
            const containsDigit = /\d/.test(pass); // At least one digit
            const containsSpecialChar = /[!@#$%^&*()-_+=<>?]/.test(pass); // At least one special character
        
            if (pass.length >= minLength &&containsUppercase &&containsLowercase &&containsDigit &&containsSpecialChar) {
                return true; 
            }
            return false; 
        }
        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            }
            else if(!isPasswordValid(password.value)){
                password.setCustomValidity(`Password does not meet criteria. Make sure:
                - Contains atleast one Uppercase character
                - Contains atleast one Lowercase character
                - Contains atleast one special character
                - Contains atleast one digit
                - Has a minimum length of 8 characters
                `);
            } 
            else {
                password.setCustomValidity('');
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        password.onkeyup = validatePassword;
        confirm_password.onkeyup = validatePassword;
        
    </script>
</body>
</html>
